@charset "utf-8";

@import "~bulma/sass/utilities/functions";
@import "~bulma/sass/utilities/_all.sass";

@import "fonts.scss";
@import "variables";
@import "components/base-layout";


.page-enter-active, .page-leave-active {
  transition: opacity .5s
}
.page-enter, .page-leave-active {
  opacity: 0
}

.bounce-enter-active {
  animation: bounce-in .8s;
}
.bounce-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(0) }
  50% { transform: scale(1.5) }
  100% { transform: scale(1) }
}
@keyframes bounce-out {
  0% { transform: scale(1) }
  50% { transform: scale(1.5) }
  100% { transform: scale(0) }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

// General colors

$background: $white-ter !default
$border: $grey-lighter !default
$border-hover: $grey-light !default

// Update some of Bulma's component variables
$body-background-color: $white;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;



// Import only what you need from Bulma
@import "~bulma/sass/base/_all.sass";
@import "~bulma/sass/elements/button.sass";
@import "~bulma/sass/elements/table.sass";
@import "~bulma/sass/elements/tag.sass";
@import "~bulma/sass/elements/notification.sass";
@import "~bulma/sass/components/message.sass";
@import "~bulma/sass/elements/form.sass";
@import "~bulma/sass/elements/container.sass";
@import "~bulma/sass/elements/title.sass";
@import "~bulma/sass/components/navbar.sass";
@import "~bulma/sass/layout/hero.sass";
@import "~bulma/sass/layout/section.sass";
@import "~bulma/sass/grid/columns.sass";

.columns:last-child {
  margin-bottom: 0;
}


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  font-family: "Graphik LCG", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  box-sizing: border-box;
  height: 100%;
}

.overflow-hidden {
  overflow-y: hidden;
}

h6,
h5,
h4,
h3,
h2,
h1 {
  font-family: 'PT Serif', serif;
  font-weight: 700;
  color: $blue;
  padding: 10px 0;

  &.white {
    color: white;
  }
}

h6 {
  font-size: $size-6;
}

h5 {
  font-size: $size-5;
}

h4 {
  font-size: $size-4;
}

h3 {
  font-size: $size-3;
}

h2 {
  font-size: $size-2;
}

h1 {
  font-size: $size-1;
}

.spacer {
  padding: 10px 0;
}

img.aligncenter {
  margin: 0 auto;
}

.boxed-layout img {
  box-sizing: border-box;
  display: block;
  max-width: 100%;
  height: auto;
}

.bg-about {
  background-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.95) 0%,
                  rgba(0, 0, 0, 0.4) 25%,
                  rgba(0, 0, 0, 0.3) 50%,
                  rgba(0, 0, 0, 0.4) 75%,
                  rgba(0, 0, 0, 0.95) 100%),
                  url('../images/contacts/background.png');
  -webkit-filter: contrast(1.1) brightness(1.2);
  filter: contrast(1.1) brightness(1.2);
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center center;
}

.bg-delivery {
  background-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.95) 0%,
                  rgba(0, 0, 0, 0.4) 25%,
                  rgba(0, 0, 0, 0.3) 50%,
                  rgba(0, 0, 0, 0.4) 75%,
                  rgba(0, 0, 0, 0.95) 100%),
                  url('../images/delivery/background.jpg');
  -webkit-filter: contrast(1.1) brightness(1.2);
  filter: contrast(1.1) brightness(1.2);
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center center;
}

.bg-contacts {
  background-image: linear-gradient(
                  to bottom,
                  rgba(0, 0, 0, 0.95) 0%,
                  rgba(0, 0, 0, 0.4) 25%,
                  rgba(0, 0, 0, 0.3) 50%,
                  rgba(0, 0, 0, 0.4) 75%,
                  rgba(0, 0, 0, 0.95) 100%),
  url('../images/contacts/background-2.jpg');
  -webkit-filter: contrast(1.1) brightness(1.2);
  filter: contrast(1.1) brightness(1.2);
  -webkit-background-size: cover;
  background-size: contain;
  background-position: center center;
}

.btn {
  margin: 0 auto;
}