@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Light.woff2') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Bold.woff2') format('woff');
  font-weight: 700;
  font-style: normal;
}