@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Italic.eot');
  src: url('../fonts/PTSerif-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSerif-Italic.woff2') format('woff2'),
  url('../fonts/PTSerif-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Bold.eot');
  src: url('../fonts/PTSerif-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSerif-Bold.woff2') format('woff2'),
  url('../fonts/PTSerif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-Regular.eot');
  src: url('../fonts/PTSerif-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSerif-Regular.woff2') format('woff2'),
  url('../fonts/PTSerif-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PT Serif';
  src: url('../fonts/PTSerif-BoldItalic.eot');
  src: url('../fonts/PTSerif-BoldItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/PTSerif-BoldItalic.woff2') format('woff2'),
  url('../fonts/PTSerif-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Light.eot');
  src: local('Graphik LCG Light'), local('../fonts/GraphikLCG-Light'),
  url('../fonts/GraphikLCG-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GraphikLCG-Light.woff') format('woff'),
  url('../fonts/GraphikLCG-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Regular.eot');
  src: local('Graphik LCG Regular'), local('../fonts/GraphikLCG-Regular'),
  url('../fonts/GraphikLCG-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GraphikLCG-Regular.woff') format('woff'),
  url('../fonts/GraphikLCG-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Medium.eot');
  src: local('Graphik LCG Medium'), local('../fonts/GraphikLCG-Medium'),
  url('../fonts/GraphikLCG-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GraphikLCG-Medium.woff') format('woff'),
  url('../fonts/GraphikLCG-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik LCG';
  src: url('../fonts/GraphikLCG-Bold.eot');
  src: local('Graphik LCG Bold'), local('../fonts/GraphikLCG-Bold'),
  url('../fonts/GraphikLCG-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/GraphikLCG-Bold.woff') format('woff'),
  url('../fonts/GraphikLCG-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}